<main>
  <br>
  <br>
  <br>
  <div class="bg-light">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <h1 class="display-4">The Future of Hydroelectric Power</h1>
    <hr>
  </div>
    <div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p class="lead fw-normal">
        Although hydropower is the nation’s oldest form of renewable electricity, many actions and efforts remain critical to further advancement of domestic hydropower as a key energy source of the future. These include continued technology development that lowers costs and the availability of market mechanisms that take into account the value of the grid reliability services, air quality and reduced emissions that hydropower provides.
      </p>
    </li>
    <li class="list-group-item">
      <p class="lead fw-normal">
        Hydropower has the potential to support more than 195,000 jobs across the nation in 2050.
      </p>
    </li>
    <li class="list-group-item">
      <p class="lead fw-normal">
        By 2050, hydropower can reduce cumulative greenhouse gas emissions by 5.6 gigatonnes -- equivalent to nearly 1.2 billion passenger vehicles driven in a year -- saving $209 billion from avoided global damages from climate change.
      </p>
    </li>
    <li class="list-group-item">
      <p class="lead fw-normal">
        By 2050, hydropower can save 30 trillion gallons of water, equivalent to roughly 45 million Olympic-size swimming pools.
      </p>
    </li>
    <li class="list-group-item">
      <p class="lead fw-normal">
        By 2050, hydropower can save $58 billion from avoided healthcare costs and economic damages from air pollution.
      </p>
    </li>
    <li class="list-group-item">
      <p class="lead fw-normal">
        New pumped-storage hydropower technology can further integrate variable generation resources, such as wind and solar, into the national power grid because of its ability to provide grid flexibility, reliability and reserve capacity.
      </p>
    </li>
    <li class="list-group-item">
      <p class="lead fw-normal">
        Developing a comprehensive set of science-based environmental performance metrics and assessment tools will further the design and sustainable operation of hydropower projects.
      </p>
    </li>
  </ul>
      <hr>
      <p class="lead fw-normal">
      The focus on hydropower in the coming years must not be on building new dams, but instead on maximizing efficiency, responsible operation, and environmental performance.
      </p>
      <br>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
          Increase efficiency at existing hydropower dams: Most of our nation’s hydropower dams were built 50, 75, even more than 100 years ago. Many of these dams use antiquated, inefficient generating equipment. Dam owners should be required to bring their plants up to modern standards in order to ensure that they are generating the maximum amount of power from every drop of water that they use.
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
          Consider adding hydropower capacity to existing dams: There are more than 90,000 dams in the United States, and only a fraction of those dams have hydropower capacity. Adding hydropower to dams in good repair that are still serving another useful purpose is appropriate if it can be done without further degrading the local environment that is already compromised by the existence of the dam
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">
          Uphold environmental safeguards: If a hydropower dam can’t be operated economically while meeting modern environmental standards, then either its operations should be improved, or the dam should be removed. New hydropower added to existing dams must be able to comply with all existing environmental laws and regulations; if it cannot, then it should not be developed. There are plenty of other sources of renewable energy that can be operated at a profit without harming the environment.
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">
          Hold hydropower developers responsible for dam safety:The majority of our nation’s dams are in need of significant repairs. Would-be developers of hydropower on existing dams must take these costs into consideration and must be responsible for ensuring that these dams are safe and secure.
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-warning">
          Recognize that dams have finite lifespans:  For a structure to be truly “green,” it must be built with its full life cycle in mind.  New or retrofitted dams must have a decommissioning strategy, including a set aside fund dedicated to restoring the river when the dam becomes obsolete.
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
          Judge dams on their impacts, not on their size:  Low-power dams (many of which are physically quite large, despite insistence by developers that they are “small”) harm streams in the same ways as dams that produce more power. Multiple low-power dams scattered on multiple streams add up to major environmental impacts that can be greater than that of a single large dam. The power provided by smaller-scale hydro is a drop in the bucket compared to our overall energy needs. Low-power hydro projects currently account for 40 percent of all hydropower dams, but generate less than 1 percent of the power.
        </a>
        </div>
      </div>
  </div>
</main>
