<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" routerLink="basicInfo" >Basic information</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="howItWorks" >How it works</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="prosAndCons" >Pros and cons</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="statistics" >Statistics</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="impacts" >Impact on climate and economy</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="itsFuture">Its future</a>
  </div>
</nav>
<router-outlet></router-outlet>
