<footer class="container py-5">
  <hr>
  <h3>Contacts</h3>
  <div class="row">
    <div class="col-6 col-md">
      <h5>Email</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">m.nalibayev2900@gmail.com</a></li>
        <li><a class="text-muted" href="#">dias.tursunkali@gmail.com</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Phone</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">+7 (778) 952 44 30</a></li>
        <li><a class="text-muted" href="#">+7 (778) 952 44 30</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Address</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Almaty c. Manas st. 8</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div>
    Copyright © 2021 Nalibayev Mukhtarkhan, Tursunkali Diyas. All rights reserved.
  </div>
</footer>
