<div class="container">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Hydropower and green economy</h5>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <p class="mb-1">
        The greatest benefit from the USACE hydropower program is the abundant low-cost energy the projects contribute to electric power grids. Because hydroelectric powerplants burn no fuel, operating costs are low and are immune to rising fossil fuel prices. In addition, most of these projects were built years ago, when construction costs were low. As a result, these plants are playing a significant role in keeping electricity costs affordable for consumers, creating a positive impact on the economy.
      </p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <p class="mb-1">
        In most parts of the country, USACE hydropower plants can only meet a portion of an area's power needs. USACE strives to use this limited amount of energy in a way that will keep the overall cost of electricity to consumers as low as possible. This is often done by generating as much energy as possible during peak demand hours of the day. This saves consumers from having to rely on power produced at high cost oil- and gas-fired "peaking" plants.
      </p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <p class="mb-1">
        In years of ample runoff, hydropower plants produce extra energy. This is used to displace more expensive generation at fossil-fuel powerplants, which further helps to reduce consumers’ electricity bills. Revenue from power sales is also repaid to the U.S. Treasury. From 2010 to 2016, average repayments were estimated at $1.23 billion per year.
      </p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <p class="mb-1">
        USACE hydropower pays its own way. The full cost of building and operating these plants must be repaid, with interest, in fifty years. This includes a share of the dam, reservoir, spillway, and fish ladders costs.
      </p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <p class="mb-1">
        USACE is the largest owner/operator of hydroelectric power plants in the U.S. and one of the largest in the world. The 75 USACE plants have a total installed rated capacity of nearly 22,000 megawatts and produce over 72 billion kilowatt-hours (kWh) a year. This is one-fourth of the Nation’s total hydropower output: enough energy to serve about ten million households, or roughly ten cities the size of Seattle, WA.
      </p>
    </a>
  </div>
</div>
