<main>
  <br>
  <br>
  <br>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <h1 class="display-4">How does a Hydroelectric Power works?</h1>
    <hr>
    <p class="lead fw-normal">For power to be generated, three things must be present; flowing water, a turbine, and a generator. Flowing water from the dam or upstream river strikes the turbine, which causes it to turn. The turbine is connected to the generator through a shaft. So, when the turbine turns, the shaft also turns causing the generator to start running, eventually, producing power.</p>
    <p class="lead fw-normal">The principle of hydroelectric power is similar to that of wind energy which turns the wheels of the turbine by its energy. Hydroelectric power uses the natural flow of water to give mechanical energy to turbines to produce electricity. The water flows continuously to provide energy. Gravitational energy gives water kinetic energy required for the flow.</p>
    <p class="lead fw-normal">In normal cases the ordinary flow of water is enough for its working like for home electricity; but in other cases its flow and efficiency has to be increased which can be done by shafting of water along channels and penstocks which would increase the output.
    </p>

    <img src="https://www.iberdrola.com/wcorp/gc/prod/en_US/comunicacion/centrales_hidroelectricas_2_res/Hydroelectric_Power_Plant_EN.jpg">
    <br>
    <br>
    <p class="lead fw-normal">The operation of a generator is sophisticated. It operates on a principle that when a magnet is pushed past a conductor, it triggers electricity to flow. In a large scale generator, electromagnets are developed by simply circulating DC (direct current) via loops of wire wrapped around heaps of magnetic steel laminations, known as field poles. These field poles are placed upon the boundary of the rotor. The rotor is normally connected to the turbine shaft and spins at a set speed. As the rotors spin, it triggers the field poles, also known as the electromagnets, to go beyond the conductors placed in the stator. This, eventually, results in flow of electricity. It also results in voltage generation at the output terminals of the generator.</p>


  </div>
</main>
