<main>
  <br>
  <br>
  <br>
  <section class="py-5 text-center container">
    <h1 class="fw-light">Impacts of Hydroelectric Power</h1>
    <p class="lead">
      Hydroelectric power includes both massive hydroelectric dams and small run-of-the-river plants. Large-scale hydroelectric dams continue to be built in many parts of the world (including China and Brazil), but it is unlikely that new facilities will be added to the existing U.S. fleet in the future.
    </p>
    <p>
      <a routerLink="climate" class="btn btn-secondary my-2">Climate</a>&nbsp;
      <a routerLink="economy" class="btn btn-secondary my-2">Economy</a>
    </p>
  </section>

  <router-outlet></router-outlet>
</main>
