<main>
  <br>
  <br>
  <br>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <h1 class="display-4">Pros and cons of Hydroelectric Power</h1>
    <hr>
    <img src="https://es-cms-prod.s3.amazonaws.com/filer/00/62/00625a57-9580-4076-b6c0-dc302a6e5a30/01_pros-cons.png">
    <br>
    <br>
    <hr>
    <table class="table table-striped table-dark">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Advantages</th>
        <th scope="col">Disadvantages</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <h5>Hydropower is clean and renewable</h5>
          <p class="lead">
            Unlike traditional fossil fuel energy sources, using water to generate electricity doesn’t release harmful pollutants into the air or water. While there are some environmental considerations that come with building large hydropower facilities like dams and reservoirs, once operational, hydropower plants themselves don’t require burning any fossil fuels.
          </p>
        </td>
        <td>
          <h5>Hydropower plants can adversely affect surrounding environments</h5>
          <p class="lead">While hydropower is a renewable energy source, there are some important environmental impacts that come along with building hydroelectric plants to be aware of. Most importantly, storage hydropower or pumped storage hydropower systems interrupt the natural flow of a river system. This leads to disrupted animal migration paths, issues with water quality, and human or wildlife displacement.
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          <h5>Hydropower pairs well with other renewables</h5>
          <p class="lead">The majority of hydroelectric plants are storage or pumped storage facilities that store large amounts of water in reservoirs, and will almost always have stored water to pull from to generate power. Hydropower’s reliance on stored water in reservoirs means that it is generally a reliable source of power in the sense that hydropower plants can be a stable source of supporting energy for more intermittent energy sources like wind and solar. Wind power and solar energy rely on the natural availability of wind and sunlight; just like an energy storage system, at times of low wind or at night when the sun isn’t shining, hydropower provides electricity when solar and wind can’t, making them more economical and practical sources of electricity.
          </p>
        </td>
        <td>
          <h5>Building hydropower facilities is expensive up-front</h5>
          <p class="lead">Many hydropower plants are large infrastructure projects that involve building a dam, a reservoir, and power-generating turbines. requiring a significant monetary investment. While a large hydropower facility can often provide low-cost electricity for 50 to 100 years after being built, the upfront construction costs can be large. This, combined with the fact that suitable places for reservoirs are becoming rarer over time means that large-scale hydropower plant construction costs may continue to rise.
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>
          <h5>Certain hydroelectric plant designs meet peak demand</h5>
          <p class="lead">A commonly cited drawback of many renewable energy sources (including wind and solar) is that they are non-dispatchable energy sources. This means that they can’t be used to generate electricity 24/7; instead, renewable sources like wind and solar rely on the wind to blow or the sun to shine respectively. However, both storage hydropower and pumped storage hydropower facilities have the ability to generate electricity on-demand (by releasing dammed water through turbines), making many hydroelectric plants dispatchable resources. This allows hydroelectricity plants to replace traditional dispatchable generation methods like coal and gas peaker plants.
          </p>
        </td>
        <td>
          <h5>Hydropower facilities rely on local hydrology</h5>
          <p class="lead">Hydropower is a reliable energy source, but it is still ultimately controlled by weather and precipitation trends. Because most hydropower generation relies on river water, droughts that cause lower water flow impact hydroelectric generation capacity. Month to month and year to year, the amount of water available for hydropower systems can vary, thus electricity production at a hydroelectric facility can also vary.
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
