<div class="container">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-success flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Hydropower and climate change</h5>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <p class="mb-1">
        Hydropower holds a double relationship with climate change. On the one hand, it contributes to the avoidance of greenhouse gas emissions from the burning of fossil fuels. On the other, water availability and hydropower generation are likely to be affected by changing rainfall patterns, which can reduce the flow of rivers.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <p class="mb-1">
        At the UN Climate Change Conference in Katowice, Poland (COP24) in December 2018, the hydroelectric power company Itaipu Binacional will showcase best practices in the sector to illustrate the potential of hydropower to avoid greenhouse gases emissions.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <p class="mb-1">
        Located on the border of Brazil and Paraguay, the plant is owned by the two governments and provides around 15% of the energy consumed in Brazil and 86% of the energy consumed in Paraguay. It also holds the world record of annual energy production for a hydroelectric plant, with 103.1 million MWh generated in 2016.  Around 500 thousand barrels of oil per day, about a fifth of the Brazilian production, would be required to produce the same amount of energy.
      </p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <p class="mb-1">
        Some of the initiatives undertaken by the company to combat climate change, ensure water security and minimize social impact in Brazil and Paraguay are:
      </p>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
          •	The preservation of 104 thousand hectares of the Atlantic Forest in Brazil and Paraguay;
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
          •	The recovery of watersheds around the reservoir by protecting springs and riparian forests, employing soil conservation techniques and fostering sustainable agriculture;
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
          •	The payment of US$11 billion in royalties to federal governments, states and municipalities in Brazil and Paraguay since the beginning of its operation;
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
          •	The company also compensated landowners for the flooding due to the formation of the reservoir and currently supports three indigenous communities with around 300 families;
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
          •	In Paraguay, Itaipu coordinates the Paraguay Biodiversity program, which aims to preserve biological diversity by linking forest fragments and promoting sustainable land use;
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
          •	Itaipu's fleet runs almost exclusively on electricity and biofuels. This avoids the emission of around 900 tons of CO2 equivalent by the year
        </a>
      </div>
    </a>
  </div>
</div>
